@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Space+Grotesk:wght@700&display=swap');

/*
font-family: 'Kalam', cursive;
font-family: 'Space Grotesk', sans-serif;
*/
body{
    padding:10px;
}
h1{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
}
button{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    padding: 6px;
}

h2, input{
    font-family: 'Kalam', cursive;
    font-size: 22px;
    padding:10px;
}
